@page "/dashboard"

@using Microsoft.EntityFrameworkCore

@inject InvoiceTrackerContext Context
@inject UserSession UserSession
@inject NavigationManager Navigation

<PageTitle>Dashboard</PageTitle>


<h1>Dashboard</h1>

<div class="row g-1 dashboard-summary-cards">

    <div class="col-12 col-sm-6 col-lg-3 summary-card">
        <div class="card">
            <div class="card-body text-center">
                <h2>Total Invoices</h2>
                <h3>@totalInvoices</h3>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3 summary-card">
        <div class="card">
            <div class="card-body text-center">
                <h2>Paid</h2>
                <h3>@paidInvoices</h3>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3 summary-card">
        <div class="card">
            <div class="card-body text-center">
                <h2>Unpaid</h2>
                <h3>@unpaidInvoices</h3>
            </div>
        </div>
    </div>

</div>

<hr />

<h4>Upcoming Invoices</h4>

<div class="table-responsive">
    <div class="page-content">
    <table class="table custom-table align-middle">
        <thead>
            <tr>
                <th>Invoice ID</th>
                <th>Client</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var invoice in invoices)
            {
                <tr>
                    <td>#@invoice.InvoiceId</td>
                    <td>@invoice.Client?.ClientName</td>
                    <td>@invoice.DueDate.ToShortDateString()</td>
                        <td>
                            @if (invoice.IsPaid)
                            {
                                <span class="badge badge-green">Paid</span>
                            }
                            else
                            {
                                <span class="badge badge-red">Unpaid</span>
                            }
                        </td>
                        <td>
                        <a class="btn btn-custom btn-info btn-sm" href="/invoices/view/@invoice.InvoiceId">
                            View
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>

<div class="invoice-cards page-content">
    @foreach (var invoice in invoices)
    {
        <div class="invoice-card">
            <div class="invoice-header">
                <div>
                    <span class="invoice-number">#@invoice.InvoiceId</span>
                    <span> @invoice.Client.ClientName</span>
                </div>
                <span class="invoice-status @(invoice.IsPaid ? "paid" : "unpaid")">
                    @(invoice.IsPaid ? "Paid" : "Unpaid")
                </span>
            </div>

            <div class="invoice-body dashboard-invoice-body">
                <div>Date: <span>@invoice.InvoiceDate.ToShortDateString()</span></div>
                <div>Due: <span>@invoice.DueDate.ToShortDateString()</span></div>
            </div>
            <div class="line"></div>
            <div class="invoice-actions">
                <a class="btn btn-custom" href="/invoices/view/@invoice.InvoiceId">Details</a>
            </div>
        </div>
    }
</div>


@code {

    int totalInvoices;
    int paidInvoices;
    int unpaidInvoices;

    List<Invoice> invoices = new();

    protected override async Task OnInitializedAsync()
    {
        // Redirect to login if not authenticated
        if (!UserSession.IsAuthenticated)
        {
            Navigation.NavigateTo("/login");
            return;
        }

        totalInvoices =
            await Context.Invoices
            .Where(i => UserSession.UserId == i.UserId)
            .CountAsync();

        paidInvoices =
            await Context.Invoices
            .Where(i => UserSession.UserId == i.UserId)
            .CountAsync(i => i.IsPaid);

        unpaidInvoices =
            await Context.Invoices
            .Where(i => UserSession.UserId == i.UserId)
            .CountAsync(i => !i.IsPaid);

        invoices = await Context.Invoices
            .Include(i => i.Client)
            .Where(i => UserSession.UserId == i.UserId && !i.IsPaid)
            .OrderBy(i => i.DueDate)
            .Take(5)
            .ToListAsync();
    }
}